.ndu
{
	margin-left: 500px;


}
.ndure
{
	background-color: #A52A2A;
}
/*.my{
	margin-left: 130px;
	margin-top: 60px;
	border:double;
	border-left: 0px;
border-right: 0px;
}
*/
.buy
{
	margin-top: 60px;
   
}
body
{
	overflow-x: hidden;

}